  
/* This style sheet is taken from  https://www.w3schools.com/howto/howto_js_tabs.asp> */
/* This style sheet has been modified from Caroline Barriere's initial file. */

body {
  background-color: white;
  height: 800px; 
}

.header h1 {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 139, 34);
}

.subheader h2 {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  font-size: 20px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#signature {
  text-align: left;
  color: rgb(34, 139, 34);
  font-style: bold;
}
